
services:
  web:
    image: nongdev/expense-tracker:latest
    container_name: expense-tracker
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles

    command: gunicorn config.wsgi:application --bind 0.0.0.0:8080

  nginx:
    image: nongdev/expense-tracker-nginx:latest
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/usr/share/nginx/html/static

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pg_data:
