{% extends 'base.html' %}
{% block title %}Alerts{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Alerts</h2>
      <div class="d-flex align-items-center gap-2">
        {% include 'components/filter_button.html' with target="#alertFilterForm"  %}
        {% include 'components/add_button.html' with title="Add Alert" target="#alertModal" onclick="resetForm()" %}
      </div>
</div>

<div class="collapse {% if request.GET.alertNameFitler or request.GET.categoryFilter or request.GET.status %}show{% endif %}"
    id="alertFilterForm">
    <div class="card mb-4">
        <div class="card-body">
            <form method="get" class="row g-3 mb-4 align-items-end">

                <div class="col-md-3">
                    <label for="startDate" class="form-label">Alert Name</label>
                    <input type="text" id="alertNameFitler" name="alertNameFitler" class="form-control"
                        value="{{ request.GET.alertNameFitler }}" placeholder="Enter alert name">
                </div>

                <div class="col-md-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="categoryFilter" name="categoryFilter" class="form-select">
                        <option value="">All Categories</option>
                        {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if request.GET.categoryFilter == cat.id|stringformat:"s" %}selected{% endif %}>
                            {{ cat.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" name="status" class="form-select">
                        <option value="">All Statuses</option>
                        <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>Active</option>
                        <option value="inactive" {% if request.GET.status == 'inactive' %}selected{% endif %}>Inactive</option>
                    </select>
                </div>

                <div class="col-md-3 d-flex gap-2">
                    <button type="submit" class="btn btn-primary w-100">Filter</button>
                    <button type="button" class="btn btn-secondary w-100" onclick="window.location.href='{% url 'alerts' %}'">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Alert Name</th>
            <th>Category</th>
            <th>Condition</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if alerts %}
        {% for alert in alerts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ alert.name }}</td>
            <td>
                {% if alert.category %}
                {{ alert.category.name }}
                {% else %}
                —
                {% endif %}
            </td>
            <td>{{ alert.condition }}</td>
            <td>${{ alert.amount }}</td>
            <td>
                {% if alert.status == 'active' %}
                <span class="badge bg-success">{{ alert.status|title }}</span>
                {% else %}
                <span class="badge bg-danger">{{ alert.status|title }}</span>
                {% endif %}
            </td>
            <td>
                <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#alertModal"
                    onclick="editAlert('{{ alert.id }}', '{{ alert.name }}', '{{ alert.condition }}', '{{ alert.amount }}', '{{ alert.status }}', '{{ alert.category.id  }}')">
                    Edit
                </button>
                 <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    data-url="{% url 'delete_alert' alert.id %}">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7" class="text-center">No alerts found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {% include 'alerts/_alert_form.html' %}
        </div>
    </div>
</div>

<script>
    function editAlert(id, name, condition, amount, status, categoryId) {
        document.getElementById('alert_id').value = id;
        document.getElementById('alertName').value = name;
        document.getElementById('condition').value = condition;
        document.getElementById('amount').value = amount;
        document.getElementById('status').value = status;
        document.getElementById('category').value = categoryId;
        document.getElementById('alertModalLabel').innerText = 'Edit Alert';
    }

    function resetForm() {
        document.getElementById('alertForm').reset();
        document.getElementById('alert_id').value = '';
        document.getElementById('alertModalLabel').innerText = 'Add Alert';
    }
</script>
{% endblock %}