@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #e8e4e4 !important;
    min-width: 0;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%); /* Offscreen to the right */
        opacity: 0;
    }
    100% {
        transform: translateX(0);   /* Final position */
        opacity: 1;
    }
}

.alert {
    position: fixed !important; /* Fixed position to keep it at the top-right of the screen */
    top: 20px !important;  /* Distance from the top */
    right: 20px !important; /* Distance from the right */
    z-index: 9999; /* Make sure it appears above other elements */
    animation: slideInRight 0.1s ease-out;
}
